POSTGRES_DB=hunter
POSTGRES_USER=hunter
POSTGRES_PASSWORD=change_me_in_local_env

ASPNETCORE_ENVIRONMENT=Development

JWT_SIGNING_KEY=CHANGE_ME_AT_LEAST_32_RANDOM_BYTES_BASE64

WEBHOOKS_INBOUND_SECRET=change_me

WHATSAPP_PHONE_NUMBER_ID=CHANGE_ME_PHONE_NUMBER_ID
WHATSAPP_ACCESS_TOKEN=CHANGE_ME_META_ACCESS_TOKEN
WHATSAPP_APP_SECRET=CHANGE_ME_META_APP_SECRET
WHATSAPP_WEBHOOK_VERIFY_TOKEN=change_me

GOOGLE_PLACES_API_KEY=CHANGE_ME_GOOGLE_PLACES_API_KEY

CORS_ALLOWED_ORIGIN=http://localhost:5173
